<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    Use keyResolverBeanName    -->
    <bean id="store_1" class="org.struct.spring.support.MapStructStore">
        <property name="clzOfBean" value="org.struct.examples.DataInfo"/>
        <property name="keyResolverBeanName" value="exExampleStructKeyResolver"/>
    </bean>
<!--    Use keyResolverBeanClass    -->
    <bean id="store_2" class="org.struct.spring.support.MapStructStore">
        <property name="clzOfBean" value="org.struct.examples.DataInfo"/>
        <property name="keyResolverBeanClass" value="org.struct.examples.DataStructKeyResolver"/>
    </bean>
    <!--  User keyResolver  -->
    <bean id="store_3_keyResolver" class="org.struct.examples.DataStructKeyResolver"/>
    <bean id="store_3" class="org.struct.spring.support.MapStructStore">
        <property name="clzOfBean" value="org.struct.examples.DataInfo"/>
        <property name="keyResolver" ref="store_3_keyResolver"/>
    </bean>

</beans>