<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~
  ~          Copyright (c) 2021. - TinyZ.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!--
{@url http://logging.apache.org/log4j/2.x/manual/layouts.html} 输出格式
{@url http://logging.apache.org/log4j/2.x/manual/async.html} 异步日志记录器
-->
<Configuration status="ERROR">
    <Appenders>
        <RollingRandomAccessFile name="DailyFileAppender" fileName="logs/server.log"
                                 filePattern="logs/server-%d{yyyy-MM-dd}-%i.log">
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}- %c{1}: %m%n"/>-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />-->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}][%p][%c{1}:%line]: %m%n" />
            <Policies>
                <!--<TimeBasedTriggeringPolicy interval="5"/>-->
                <!--<SizeBasedTriggeringPolicy size="10 KB"/>-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingRandomAccessFile>
        <Console name="ConsoleAppender">
            <!--<PatternLayout pattern="%d [%p] %c %m%n"/>-->
            <PatternLayout pattern="[%date{yyyy-MM-dd HH:mm:ss.SSS}][%level] %thread - %logger{35}[:%line]: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="DailyFileAppender"/>
        </Root>
        <Logger name="org.struct" level="DEBUG" includeLocation="true" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DailyFileAppender"/>
        </Logger>
        <Logger name="org.springframework" level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DailyFileAppender"/>
        </Logger>
        <!--
        根据包路径
        <Logger name="com.tinyz" level="ERROR" > &lt;!&ndash;additivity="false"&ndash;&gt;
            <appender-ref ref="DailyFileAppender"/>
        </Logger>-->
    </Loggers>
</Configuration>

